# Server Environment Variables
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/campus_number_one
JWT_SECRET=campus_number_one_super_secret_jwt_key_2026_modern
CLIENT_URL=http://localhost:5173

# Frontend Environment Variables (Vite)
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
